@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-main-link {
    position: relative;
    padding: 2px;
    border-radius: 9999px;
    overflow: hidden;
  }

  .btn-main-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(45deg, #ff9f55, #f8dfd1 30%, #eba9ff 70%, #f1e4f5);
    filter: saturate(100%);
    z-index: 0;
    border-radius: 9999px;
  }

  .btn-main-link > * {
    position: relative;
    z-index: 1;
  }
}